flask==3.0.3
flask-cors==4.0.1
firebase-admin==6.5.0
google-api-python-client==2.131.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
httplib2==0.22.0
requests==2.31.0
gunicorn==22.0.0
aiohttp==3.9.5